body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  height: 100%;
  background-color: whitesmoke;
}
.home {
  position: absolute;

  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d4f6e;
}
.banner {
  position: relative;
  width: 350px;
  height: 350px;
  padding-top: 30px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: inline-block;
}
.form {
  display: inline-block;
  position: relative;

  width: 350px;

  padding-top: 30px;
  background-color: white;
  border: 1px solid lightgrey;
  position: absolute;
  border-radius: 3px;
}

.logintitle {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.signbutton {
  margin-bottom: 15px;
  margin-left: 30%;
  width: 40%;
}

.dashboard {
  padding-top: 75px;
  border: 1px solid lightgrey;

  background-color: white;
}
.tablehead {
  background-color: whitesmoke;
}
.modalll {
  width: 100%;
  z-index: 1;
  position: fixed;

  background-color: #154867;
}
.nav {
}
.selected {
  height: 200px;
  overflow: scroll;
}
.inputtext {
  overflow: scroll;
}

.carticon {
  margin-right: 5px;
}
.modal {
  margin-top: 50px;
}

.logo {
  width: 90px;
  height: 68px;
  margin-left: -16px;
  margin-top: -8px;
}
.addpaste {
  margin-left: 5px;
  margin-bottom: 5px;
}
.logodiv {
}
.linkdiv {
  padding-top: 25px;
  color: white;
}
.link {
  padding-left: 30px;
}
.adminname {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;

  color: white;
}
.adminicon {
  margin-left: 10px;
  padding-top: 30px;
}
.logout {
  text-align: center;
  margin-right: 5px;

  padding-top: 20px;
}
.usericon {
  margin-right: 5px;
}
.navbar {
  width: 100%;
  background-color: #154867;
  height: 69px;
}
.mr-auto {
  margin-left: 15px;
  padding-left: 30px;
}
