body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  height: 100%;
  background-color: whitesmoke;
}
.home {
  position: absolute;

  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d4f6e;
}
.banner {
  position: relative;
  width: 350px;
  height: 350px;
  padding-top: 30px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: inline-block;
}
.form {
  display: inline-block;
  position: relative;
  /* margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */

  width: 350px;
  /* height: 350px; */
  padding-top: 30px;
  background-color: white;
  border: 1px solid lightgrey;
  position: absolute;
  border-radius: 3px;
}

.logintitle {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
.signin {
  /* margin-left: 45px; */
  /* border: 1px solid black; */
  /* height: 50px;
  width: 150px; */
}
.signbutton {
  /* margin-left: 165px; */
  margin-bottom: 15px;
  margin-left: 30%;
  width: 40%;
  /* width: 70%; */
}

.dashboard {
  padding-top: 75px;

  /* margin-left: 15%; */
  width: 75%;
  background-color: white;
  border: 1px solid lightgrey;
}
.tablehead {
  background-color: whitesmoke;
}
.modalll {
  width: 100%;
  z-index: 1;
  position: fixed;

  background-color: darkblue;
}
.nav {
}
.selected {
  height: 200px;
  overflow: scroll;
}
.inputtext {
  overflow: scroll;
}

.carticon {
  margin-right: 5px;
}
.modal {
  margin-top: 70px;
  padding-left: 10px;
  padding-right: 70px;
}
.modall {
}
.modalbodyy {
  background-color: white;
  margin: auto;
  width: 115%;
  height: 100%;
}
.logo {
  width: 90px;
  height: 67px;
  margin-left: -16px;
  margin-top: -7px;
}
.addpaste {
  margin-left: 5px;
  margin-bottom: 5px;
}
.logodiv {
  /* display: inline-block; */
}
.linkdiv {
  /* margin-left: 15px; */
  padding-top: 25px;
  color: white;

  /* margin-left: 5px; */
  /* display: inline-block; */
}
.link {
  padding-left: 30px;
}
.adminname {
  /* padding-top: 24px; */
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  /* text-align: right; */
  color: white;
}
.adminicon {
  margin-left: 10px;
  padding-top: 30px;
}
.logout {
  text-align: center;
  margin-right: 5px;

  /* margin-right: 20px; */
  padding-top: 20px;
  /* float: right;
  display: inline-block; */
}
.usericon {
  margin-right: 5px;
}
.navbar {
  width: 100%;
  background-color: darkblue;
  height: 70px;
  border: 1px solid black;
}
.mr-auto {
  margin-left: 15px;
  padding-left: 30px;
}
.navv {
}
